*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    display: flex;
    height: 800px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    padding: 0 20px;
    background-color:#D75126 ;
    border-radius: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.card-p{
    padding-bottom: 10px;
}
.buttons{
    margin: 10px;
}

.btn{
    padding: 20px;
    margin: 10px;
}